.FontBold {
    font-weight: bold;
}

#MainCalendarContainer {
    font-size: 32px;
}

.CalendarHeaderRow {
    display: flex;
    flex-direction: row;
}

.CalendarRow {
    display: flex;
    flex-direction: row;
}

.FlexItem {
    width: 14.28%;

    display: flex;
    justify-content: flex-end;
}

#TheCalendar {
    font-size: 1rem;
}

.WeekDay {
    width: 14.28%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 120px;
}

.Weekend {
    background-color: #e3e3e3;
}

.WeekDayItem {
    height: 15%;
}

.Event {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: .8rem;
    width: 100%;
}

.SelectedDay {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}