:root {
    --imageWidthHeight: 180px;
    --imageWidthHeightMainImages: 100px;
}

#MainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

#MainProfileInformation img {
    width: var(--imageWidthHeight);
    height: var(--imageWidthHeight);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

.FontBold {
    font-weight: bold;
}

#Sections img {
    width: var(--imageWidthHeightMainImages);
    height: var(--imageWidthHeightMainImages);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

#MainImages img {
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 480px) {
    #MainProfileInformation {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: auto;
    }

    #SectionsTable {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #Options {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #MainImagesContainer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #OptionsTable {
        display: grid;
        grid-template-columns: auto;
    }
}

@media only screen and (min-width: 481px) {
    #MainProfileInformation {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .Span2Columns {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .Span3Rows {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    #SectionsTable {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }

    #Sections {
        display: grid;
        grid-template-columns: auto auto;
    }

    #Options {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }

    #OptionsTable {
        margin-left: auto;
        margin-right: auto;
    }

    #MainImagesContainer {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }

    #MainImages {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #OptionsTable {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

}
