:root {
    --imageWidthHeight: 180px;
    --imageWidthHeightMainImages: 100px;
}

#MainProfileInformation img {
    width: var(--imageWidthHeight);
    height: var(--imageWidthHeight);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

.FontBold {
    font-weight: bold;
}

#Sections img {
    width: var(--imageWidthHeightMainImages);
    height: var(--imageWidthHeightMainImages);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

#ProfileImage {
    width: 100px;
    height: 100px;
}

#MainImages img {
    width: 200px;
    height: 200px;
}

#SectionsTable {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#Options {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#MainImagesContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#SectionsTable {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#Options {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#OptionsTable {
    margin-left: auto;
    margin-right: auto;
}

#MainImagesContainer {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

