<link rel="stylesheet" href="~/css/Calendar.css" />

<div id="MainCalendarContainer" class="container">
    <span class="FontBold">May</span><span>2021</span>

                                     <div class="row" align="right">
                                         <div class="col-1">
                                             <span>Sun</span>
                                         </div>
                                         <div class="col"></div>
                                         <div class="col-1">
                                             <span>Mon</span>
                                         </div>
                                         <div class="col"></div>
                                         <div class="col-1">
                                             <span>Tue</span>
                                         </div>
                                         <div class="col"></div>
                                         <div class="col-1">
                                             <span>Wed</span>
                                         </div>
                                         <div class="col"></div>
                                         <div class="col-1">
                                             <span>Thu</span>
                                         </div>
                                         <div class="col"></div>
                                         <div class="col-1">
                                             <span>Fri</span>
                                         </div>
                                         <div class="col"></div>
                                         <div class="col-1">
                                             <span>Sat</span>
                                         </div>
                                     </div>

        <div class="row" align="right">
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>25</span>
                </div>
                </br>
                <div class="WeekDayItem">
                    <div class="Event">Image 1 was added</div>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem DayClass">
                    <span>26</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem DayClass">
                    <span>27</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem DayClass">
                    <span>28</span>
                </div>
                </br>
                <div class="WeekDayItem">
                    <div class="Event">Image 2 was added</div>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem DayClass">
                    <span>29</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem DayClass">
                    <span>30</span>
                </div>
            </div>
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem DayClass">
                    <span>May 1</span>
                </div>
            </div>
        </div>

        <div class="row" align="right">
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>2</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>3</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>4</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>5</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>6</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>7</span>
                </div>
            </div>
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>8</span>
                </div>
            </div>
        </div>

        <div class="row" align="right">
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>9</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>10</span>
                </div>
                </br>
                <div class="WeekDayItem">
                    <div class="Event">Image 3 was added</div>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>11</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>12</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>13</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>14</span>
                </div>
            </div>
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>15</span>
                </div>
            </div>
        </div>

        <div class="row" align="right">
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>16</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>17</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>18</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>19</span>
                </div>
                </br>
                <div class="WeekDayItem">
                    <div class="Event">Image 4 was added</div>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>20</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>21</span>
                </div>
            </div>
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>22</span>
                </div>
                </br>
                <div class="WeekDayItem">
                    <div class="Event">Image 5 was added</div>
                </div>
            </div>
        </div>

        <div class="row" align="right">
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>23</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>24</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span class="SelectedDay">25</span>
                </div>
                </br>
                <div class="WeekDayItem">
                    <div class="Event">Video 1 was added</div>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>26</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>27</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>28</span>
                </div>
            </div>
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>29</span>
                </div>
            </div>
        </div>

        <div class="row" align="right">
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>30</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>31</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>Jan 1</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>2</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>3</span>
                </div>
            </div>
            <div class="WeekDay col-1">
                <div class="WeekDayItem">
                    <span>4</span>
                </div>
            </div>
            <div class="WeekDay Weekend col-1">
                <div class="WeekDayItem">
                    <span>5</span>
                </div>
            </div>
        </div>
</div>