<link rel="stylesheet" href="~/css/Signup.css" />

<div id="FormContainer">
    <div class="FlexRow">
        <div class="ColumnLabels">
            <label for="FirstName">First Name</label>
        </div>
        <div class="ColumnInputs">
            <input id="FirstName" type="text" placeholder="Input your first name here" />
        </div>
        <div class="ColumnLabels">
            <label for="LastName">Last Name</label>
        </div>
        <div class="ColumnInputs">
            <input id="LastName" type="text" placeholder="Input your last name here" />
        </div>
    </div>
    <div class="FlexRow">
        <div class="ColumnLabels">
            <label for="User">User</label>
        </div>
        <div class="ColumnInputs">
            <input id="User" type="text" placeholder="Input your user name here" />
        </div>
        <div class="ColumnLabels">
            <label for="Password">Password</label>
        </div>
        <div class="ColumnInputs">
            <input id="Password" type="password" placeholder="Input your password here" />
        </div>
    </div>
</div>
<div class="FlexRow">
    <div class="ColumnLabels">
        <label>Gender</label>
    </div>
    <div class="FullRow">
    <input type="radio" name="Gender" id="Male" />
    <label for="Male">Male</label>
    <input type="radio" name="Gender" id="Female" />
    <label for="Female">Female</label>
    <input type="radio" name="Gender" id="NoResponse" />
    <label for="NoResponse">Prefer not to respond</label>
    </div>
</div>
<div class="FlexRow">
    <div class="ColumnLabels">
        <label for="Country">Country of residence</label>
    </div>
    <div class="FlexRow">
        <select id="Country">
            <option>USA</option>
            <option>Mexico</option>
        </select>
        </div>
    </div>
    <div class="FlexRow">
        <button class="GramButtons">Sign up</button>
    </div>
</div>
